extends layout

block content
  nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
    if !isDMChosen
      span(class="navbar-brand mb-0 h1") Hello #{s.userName}
      form(action="/claimdm", method="POST")
        button(class="btn btn-outline-success") Claim DM
    if isDMChosen && s.isDM
      span(class="navbar-brand mb-0 h1") [DM] Hello #{s.userName} 
      form(action="/releasedm", method="POST")
        div.container
          button(class="btn btn-outline-success") Release DM
    if s.charName !== null
      form(action="/releasechar", method="POST")
        div.container
          button(class="btn btn-outline-success") Release #{s.charName}
