extends layout

block content
    nav(class='navbar navbar-expand-md navbar-dark fixed-top bg-dark')
        if !isDMChosen
            span(class='navbar-brand mb-0 h1') Hello #{s.userName} 
            form(action='/claimdm', method='POST')
                button(class="btn btn-outline-success") Claim DM 
        if isDMChosen && s.isDM
            span(class="navbar-brand mb-0 h1") [DM] Hello #{s.userName}  
            form(action="/releasedm", method="POST")
                div.container
                    button(class="btn btn-outline-success") Release DM 
        if s.charName != null && s.charName != ""
            form(action="/releasechar", method="POST")
                div.container
                    button(class="btn btn-outline-success") Release #{s.charName}



    main(class="container px-0" role="main")
        form(action="/setinitiative", method="POST")
            div(class="row justify-content-center mb-sm-2 p-2")
                h2 Enter your initiative
            - var i = 0; total = 1;
            while i++ < rows
                div(class="row justify-content-center mb-sm-2")
                    - var j = 0;
                    while j++ < columns
                        div(class="col justify-content-center") 
                            button(class="btn btn-outline-success btn-light btn-lg btn-block py-4 my-2" style="font-size:50pt" name="init" value= total) #{total++}





